<!DOCTYPE html>
<html lang="en">
<head>
<title>Hapwi</title>
<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
	.bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <div class="navbar navbar-static">
        <div class="navbar-inner">
            <a href="#" class="brand">Haproxy</a>
            <ul role="navigation" class="nav">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Frontends<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a name="list" id="list" href="#">List</a></li>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Remove</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Log Out</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
    </div>
</div>
<script>
$("#list").click(function() {
    $.getJSON( "frontends", function( data ) {
        var data = eval(data);
        var items = [];
        $.each(data['frontends'], function( id, obj ) {
            items.push( "<p>" + obj['name'] + "</p>" );
        });
        $('.container').html(items);
    });
});
</script>
</body>
</html>                                		
